
    <div class="col-md-10 margin">
        <div id="firstelement"></div>

   <!--<div ng-show ="usersGraph" id="container" class="col-md-9"></div>-->


    <!--<div>-->
        <!--<div class="col-md-10">-->

        <!--<uib-tabset type="pills">-->
            <!--<uib-tab ng-click="organisation()" heading="organisation"></uib-tab>-->
            <!--<uib-tab ng-click="bestOf()" heading="bestofus"></uib-tab>-->
        <!--</uib-tabset>-->
    <div ng-hide="cache">
            <div class="col-md-5 classement" >
                <h1 class="text-center">Classement</h1>
                <ul>
                    <li class="row"> <div class="col-md-2 text-center">Class.</div> <div class="name col-md-4 text-center">Noms</div>  <div class="col-md-2 total text-center">Total</div><div class="col-md-2 maintenance text-center">Maint</div><div class="col-md-2 assistance text-center">Assist</div></li>
                </ul>
                <!--<ul ng-repeat="item in  (filteredItems = (customarray | orderBy:item[0].nbtickets:true |  limitTo:20  track by $index))" >-->
                    <ul ng-repeat="item in customarray | orderBy:item[0].nbtickets:true |  limitTo:20  track by $index" >
                    <li ng-class="{colored: !(($index+1)%2) && !$first }" ui-sref="app.usersingle({id:item[0].id,iterate:1})" ng-class="{third: !(($index+2)%3) && !$first }" class="row organization"> <div class="col-md-2 text-center">{{$index+1}}</div> <div class="name col-md-4 text-center">{{item[0].username}}</div>  <div class="col-md-2 total text-center">{{item[0].nbtickets}}</div><div class="col-md-2 maintenance text-center">{{item[0].tickmaintenance}}</div><div class="col-md-2 assistance text-center">{{item[0].tickassistance}}</div></li>
                </ul>
            </div>
                <ul ng-repeat="hey in tralal track by $index">{{hey}}</ul>

            <div class="col-md-5 lastTicket">


                <h1 class="text-center">Derniers tickets</h1>
                <ul>
                    <li class="row"><div class="col-md-2 date text-center">Date</div> <div class="name col-md-3 text-center">Noms</div>  <div class="col-md-5 Titre text-center">Titre</div><div class="col-md-2 statut text-center">Statut</div></li>
                </ul>

                <ul ng-repeat="item in test  | orderBy:'-date'| limitTo :10 track by $index">

                        <li  ng-class="{colored: !(($index+1)%2) && !$first }" ui-sref="app.usersingle({id:item.id,iterate:1})" class="row organization"><div class="col-md-2 datitem text-center">{{item.date | date:'dd-MM'}}</div><div class="col-md-3 date text-center"> {{item.name}}</div> <div class="col-md-5 date text-center">{{item.titre}}</div> <div class="col-md-2 date text-center">{{item.status}}</div></li>
                </ul>



            </div>
        </div>
    </div>





