


<div class="col-md-10">


<h2 class="text-center">Liste des tickets de {{name}}</h2>
    <div id="container"></div>

<h1 class="text-center">{{ticketnumber}} ticket(s)</h1>
   <ul ng-repeat="user in userticket |orderBy:'-created_at' track by $index">
       <li class="row ticketlist" ui-sref="app.ticket({id:user.id,myid:user.requester_id})"> <div class="col-md-1 list">{{user.tags[0]}}</div> <div class="col-md-8  list">{{user.subject}}</div> <div class="col-md-1 list">{{user.created_at | amDateFormat:'YYYY.MM.DD'}}</div>  <div class="col-md-1 list"><div ng-if="user.fields[5].value==undefined"><div ng-init="user.fields[5].value='0'">{{user.fields[5].value}}</div></div>{{user.fields[5].value}}</div> <div class="col-md-1 class_{{user.status}}">{{user.status}}</div></li>
   </ul>

    <div class="col-md-10">
        <span ng-show="prevarrow" class="glyphicon glyphicon-chevron-left" aria-hidden=true ng-click="previous()"></span>
        <span ng-show="nextarrow" class="glyphicon glyphicon-chevron-right" aria-hidden=true ng-click="next()"></span>
    </div>


</div>




