<div class="col-md-10 margin">


<h2 class="text-center">Liste des tickets de {{name}}</h2>
    <div id="container"></div>

<h3>Total tickets: {{tickets}} </h3>
    <div class="row">

            <div ng-repeat="item in filters" class="orderby" ng-click="select($index)" ><p ng-class="{sel: $index == selected}">{{item.name}}</p></div>



    <!--<div class="orderby" ng-click="backList($index)" ng-class="{sel: $index == selected}">Tous</div>-->
    <!--<div class="orderby" ng-click="orderAssist($index)" ng-class="{sel: $index == selected}">Assistance</div>-->
    <!--<div class="orderby" ng-click="orderMaint($index)" ng-class="{sel: $index == selected}">Maintenance</div>-->
    <!--<div class="orderby" ng-click="orderBug($index)" ng-class="{sel: $index == selected}">Bug</div>-->
    <!--<div class="orderby" ng-click="orderEvol($index)" ng-class="{sel: $index == selected}">Evolution</div>-->
    </div>
    <div class="col-md-offset-11 col-md-1 row" ng-click="sortTicket()"><button id="btn-append-to" type="button" class="btn btn-primary" uib-dropdown-toggle>
       {{trie}} <span class="caret"></span>
    </button></div>
    <br><br>

   <ul ng-repeat="user in userticket |orderBy: finalsort |filter:search track by $index" ng-if="user.created_at > time" >
       <li class="row ticketlist" ui-sref="app.ticket({id:user.id,myid:user.requester_id})"> <div class="col-md-2 list class_{{user.tags[0]}}" >{{user.tags[0]}}</div> <div class="col-md-6  list">{{user.subject}}</div> <div class="col-md-1 list">{{user.created_at | amDateFormat:'YYYY.MM.DD'}}</div>  <div class="col-md-2 timing"><div class="value" ng-if="user.fields[5].value==undefined"><div class="value" ng-init="user.fields[5].value='10'">
           {{user.fields[5].value}}</div></div>{{user.fields[5].value}} min  <img class="time" src="http://localhost:8888/support_cubber_v2/img/icon-temps-reso.png" alt=""></div>
           <div class="col-md-1 class_{{user.status}}">{{user.status}}</div></li>
   </ul>

    <div class="col-md-10">
        <span ng-show="prevarrow" class="glyphicon glyphicon-chevron-left" aria-hidden=true ng-click="previous()"></span>
        <span ng-show="nextarrow" class="glyphicon glyphicon-chevron-right" aria-hidden=true ng-click="next()"></span>
    </div>

</div>




